{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's Portfolio</title>
</head>
<body>
    <div class="container-fluid">
        <form action="" method="get" class="form">
        {% if filter %}
            {% bootstrap_field filter.form.search label="Search all fields" %}
            <div class="form-inline">
                {% for field in filter.form.visible_fields %}
                    {% if field.name !=  'search' %}
                        {% bootstrap_field field show_label=False %}
                    {% endif %}
                {% endfor %}
                {% bootstrap_button "Filter" button_class="btn btn_primary" %}
                <a href="{% url 'index' %}" class="btn">Reset</a> 
            </div>
            {% endif %}
        </form>
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
</body>
</html>
